.gameboard {
  outline: 1px solid blue;

  h3 {
    color: #333;
  }

  #grable-human td,
  #grable-computer td {
    width: 25px;
    height: 25px;
    text-align: center;
    color: black;
  }

  #grable-human td {
    background-color: #dff4ff;
  }

  #grable-computer td {
    background-color: #ebebeb;
  }



  .missed-circle, .target-circle {
    padding: 7px 7px;
    width: 2px;
    border-radius: 100%;
    margin: auto;
    width: 1%;
  }

  .missed-circle {
    background-color: gray;
  }

  .target-circle {
    background-color: red;
  }

  .ship-sunk {
    outline: 1px solid red;
  }
}
