.battlefield {
  display: flex;
  .gameboard {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      margin: 10px 0px;
      color: #333;
      padding: 12px 140px;
      text-transform: uppercase;
      border-radius: 8px;
      color: #fff;
    }

    .human-gameboard-title {
      background-color: $red-color;
    }

    .computer-gameboard-title {
      background-color: $gray-color;
    }

    #grable-human td,
    #grable-computer td {
      width: 34px;
      height: 34px;
      text-align: center;
      color: black;
    }

    #grable-human td {
      background-color: #dff4ff;
    }

    #grable-computer td {
      background-color: #ebebeb;
    }

    .ships {
      margin: 16px 20px;

      ul {
        columns: 2;

        li {
          font-size: 16px;
          padding: 2px;
        }
      }
    }

    .missed-circle,
    .target-circle {
      padding: 7px 7px;
      width: 2px;
      border-radius: 100%;
      margin: auto;
      width: 1%;
    }

    .missed-circle {
      background-color: $gray-color;
    }

    .target-circle {
      background-color: $red-color;
    }

    .ship-sunk {
      outline: 1px solid $red-color;
    }

    .sunk {
      color: $red-color;
      text-decoration: line-through;
    }
  }
}

