* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: large;
}

html {
  font-size: 11px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

// .ship-sunk {
//   background-color: red !important;
// }


table {
  margin: 10px;
}

.disable,
.disable-click {
  pointer-events: none;
}

p {
  color: black;
}

.green {
  background-color: green !important;
}
